@charset "UTF-8";

/* Meu notebook */

@media screen and (min-width: 1366px){

/* Mudança Geral */

* {
	margin: 0;
	padding: 0;
}

div#backbox p{
	position:absolute;
	display:block;
	margin-top:-500px;
	margin-left:40px;
	font-size:100pt;
	color:white;
	text-shadow: 8px 8px 6px #232323;
}

div#corpo{
	display:block;
	background-color: white;
}

body{
	font-family: 'tahoma',sans-serif;
}

img{
	width: 100%;
	height: 100%;
	position:relative;
	padding:0px;
	margin:0px;
}

/* Fim Mudança Geral */

/* Menu */

nav#menu1 {
	position: absolute;
	z-index: 5;
}

nav#menu1 ul{
	padding: 5px;
	margin: 5px;
	display:block;
	margin-right:10px;
	position: fixed;
}

ul#menu li {
	margin-left: 10px;
	display: inline-block;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

nav#menu1 li{
	display: inline-block;
	object-position: center;
}

nav#menu1 ul li{
	display:inline;
}

nav#menu1 ul li a{
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
	display: inline-block;
	color: white;
	font-size: 15pt;
	text-decoration: none;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: .5s;
}

nav#menu2 ul li a:hover {
	background-color: #b3d9ff;
	color: #1a8cff;
	border-bottom: 2px solid #0073e6;
}

nav#menu2 ul{
	display:inline;
	object-position: center;
}

/* Fundo com Efeito */

div#menu-fundo {
	background-color: transparent;
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 99;
	transition: .5s;
}

/* Fim Menu */

/* Paralax */

section.man {
	height: 780px;
	width: 100%;
}

/* Fim Paralax */

/* Index */

article#index{
	padding: 5px;
	margin-right: 200px;
	margin-left: 200px;
}

article#index h1{
	text-shadow: 2px 2px 8px black ;
	font-size: 20pt;
	text-align: left;
	margin-bottom: 10px;
}

article#index h2{
	color:white;
	text-shadow: 2px 2px 8px black ;
	font-size: 25pt;
	text-align: left;
}

article#index h3{
	font-size:10pt;
	text-align: center;
}

article#index h4{
	border-radius: 20px;
	margin-right: 540px;
	padding: 10px;
	box-shadow: 3px 5px 5px #c1c1c1;
	background-color: rgb(32,115,181);
	color:white;
	text-shadow: 2px 2px 8px #b9b9b9;
	font-size: 25pt;
	text-align: left;
}

article#index p{
	text-indent: 20pt;
	text-align: justify;
	font-size:13.5pt;
}

article#index a{
	text-decoration: none;
}

section#cima {
	display:block;
	width: 900px;
	float: top;
	padding: 10px;
	border-bottom:1px solid black;
	margin-bottom: 30px;
}

aside#esquerda {
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(9,117,179,.5);
	box-shadow: 3px 5px 5px #c1c1c1;
	width: 600px;
	float: left;
	margin-left: 20px;
	padding-bottom: 20px; 
}

img#mudalogo {
	display: block;
	margin-top: 90px;
	margin-left: 740px;
	box-shadow: 6px 6px 8px #bababa;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 40px;
	width: 100px;
	height: 100px;
}

p#textologo{
	display:block;
	margin-top: 10px;
	text-align: center;
	margin-left: 720px;
}

img#mudasite{
	position:relative;
	margin-left:100px; 
	margin-top:30px;
	width: 120px;
	height: 120px;
	border-radius:100px;
	box-shadow: 6px 6px 8px #bababa;
}

p#textobackbox{
	text-align: center;
	margin-top: 10px;
	margin-left: 80px;
	margin-bottom: 10px;
}

img#mudapag{
	position: relative;
	display:block;
	margin-top: -165px;
	margin-left:680px;
	width: 120px;
	height: 120px;
	border-radius:100px;
	box-shadow: 6px 6px 8px #bababa;
}

p#textodown{
	display:block;
	margin-top: 10px; 
	text-align: center;
	margin-left: 640px;
	margin-bottom: 10px;
}

img#mudapdf{
	position: relative;
	display:block;
	margin-top: -162px;
	margin-left:390px;
	width: 120px;
	height: 120px;
	border-radius:100px;
	box-shadow: 6px 6px 8px #bababa;
}

p#textopdf{
	display:block;
	margin-top: 10px; 
	text-align: center;
	margin-left: 375px;
	margin-bottom: 10px;
}

div#aplic{
	display:block;
	padding: 20px;
	margin-top: 100px;
	border-top:1px solid black;
}

div#aplic_corpo{
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #b9b9b9;
	background-color: rgba(28,127,163,.7);
}

img#aplica{
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 90px;
	width: 700px;
	height: 500px;
	border-radius: 10px;
	box-shadow: 6px 6px 8px #0d5068;
}

div#aplic_corpo p{
	padding: 20px;
	font-size: 15pt;
	color:white;
}

div#aplic_corpo h1{
	display: block;
	text-align: center;
	color:white;
	text-shadow: 2px 2px 6px #c1c1c1;
}

div#aplic_corpo h2{
	padding-top: 20px;
	border-top:5px dotted #2988b9;
	font-size: 20pt;
	color:white;
}

/* Fim Index */

/* Rodapé */

footer#rodape{
	padding:10px;
	border-top: 1px solid black;
	clear: both;
}

footer#rodape p{
	text-align: center;	
	color:#646464;
	font-family: 'tahoma', sans-serif;
}

footer#rodape a{
	text-decoration: none;
	color:#646464;
}

footer#rodape img{
	width: 15px;
	height:15px;
}

/* Fim Rodapé */

/* Entrevista */

article#entrevista{
	padding: 5px;
	margin-right: 200px;
	margin-left: 200px;
}

article#entrevista h1{
	background-color: rgba(53,53,53,.5);
	color:white;
	font-size: 20pt;
	padding: 5px;
	display:block;
	text-align: center;
	box-shadow: 5px 5px 8px #c1c1c1;
	margin-bottom: 15px;
	border-radius: 10px;
	text-shadow: 2px 2px 6px #c1c1c1;
}

article#entrevista h2{
	font-size: 18pt;
	padding: 10px;
	text-align: left;
}

article#entrevista p{
	padding: 20px;
	text-indent: 20pt;
	text-align: justify;
	font-size:13.5pt;
}

article#entrevista a{
  	color: black;
  	text-decoration: none;
}

div#audio{
	display:block;
	padding-bottom: 15px;
	margin-left: 320px;
}


/* Fim Entrevista */

/* Extra */

article#extra{
	padding: 5px;
	margin-right: 200px;
	margin-left: 200px;
}

article#extra h1{
	background-color: rgba(53,53,53,.5);
	font-size: 20pt;
	color:white;
	padding: 5px;
	display:block;
	text-align: center;
	box-shadow: 5px 5px 8px #c1c1c1;
	margin-bottom: 15px;
	border-radius: 10px;
	text-shadow: 2px 2px 6px #c1c1c1;
}

article#extra h2{
 	font-size: 18pt;
  	text-align: left;
  	padding-left: 10px;
  	padding-top: 10px;
  	text-shadow: 2px 2px 6px #c1c1c1;
}

article#extra h3{
	 font-size:10pt;
 	 text-align: center;
}

article#extra p{
	padding: 20px;
	text-indent: 20pt;
 	text-align: justify;
  	font-size:13.5pt;
}

/* Fim Extra */

/* Versões */

section#versoes{
	display:block;
	margin-top:10px;
	background-color: rgba(6,75,135,.7);
	padding:10px;
	margin-left:150px;
	margin-bottom: 25px;
	margin-right:150px;
	box-shadow: 5px 5px 8px rgba(6,75,208,.6);
	border-radius: 10px;
}

section#versoes h1{
	padding: 20px;
	text-align: center;
	text-shadow: 4px 4px 5px #c1c1c1;
	color: white;
}

section#versoes h3{
	color: white;
	font-family: 'tahoma', sans-serif;
	padding:10px;
	font-size: 13.5pt;
	border-top:4px dotted rgba(5,58,102,.7);
}

section#versoes p{
	padding: 20px;
	color: white;
	font-family: 'tahoma', sans-serif;
	text-indent: 10pt;
	text-align: justify;
	font-size:13pt;
	margin-bottom: 10px;
}

/* Fim Versões */

/* agradecimntos */

div#imagem1{
	display:inline-block;
	padding: 20px;
}

div#imagem2{
	display:inline-block;
	padding: 20px;
	border-left:4px dotted black;
}

div#imagem3{
	display:inline-block;
	padding: 20px;
	border-left:4px dotted black;
}

div#imagem4{
	display:inline-block;
	padding: 20px;
	border-left:4px dotted black;
}

div#agra{
	margin-top: 20px;
	margin-bottom: 20px;
	display:inline-block;
	margin-left:187px;
}

img#imgeral{
	box-shadow: 5px 5px 5px #b9b9b9;
	border-radius: 30px;
	width: 200px;
	height: 200px;
	margin-bottom: 30px;
}

p#redesocial{
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(176,176,176,.5);
}

div#agra p{
	color:white;
	text-shadow: 2px 2px 8px black;
}

p#redesocial img{
	border-radius:22px;
	box-shadow: 5px 5px 5px #b9b9b9;
	display: inline-block;
	width: 40px;
	height: 40px;
}

div#agradecimento{
	display:block;
	margin-top:15px;
	margin-right:150px; 
	margin-left:150px;
	color:white;
	background-color: rgba(67,67,67,.6);
	box-shadow: 5px 5px 8px rgba(185,185,185,.7);
	padding: 15px;
	border-radius: 20px;
	text-align: justify;
	text-indent: 20pt;
}

div#agradecimento h1{
	text-shadow: 2px 2px 8px #b9b9b9;
	text-align: center;
}

p#redesocial{
	box-shadow: 5px 5px 5px #b9b9b9;
	text-align: center;	
	color:#646464;
	font-family: 'tahoma', sans-serif;
}

p#redesocial a{
	text-decoration: none;
	color:#646464;
}

/* fim agradecimentos */

/* ferramentas */

div#ferramentas{
	margin-left: 190px;
	margin-right: 190px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: rgba(41,132,165,.7);
	color:#e0e0e0;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 3px 5px 5px #a7a7a7;
}

div#ferramentas h1{
	color:white;
	text-shadow: 2px 2px 6px black;
	text-align: center;
	margin-bottom: 20px;
}

div#ferramentas p{
	padding-bottom: 10px;
	text-indent: 20pt;
	text-align: justify;
	font-size:13.5pt;
}

div#ferramentas h5{
	color: white;
	padding: 20px;
	text-indent: 25pt;
	font-size: 15pt;
	border-top:5px dotted #2c7ea8;
}

img#img1{
	width: 195px;
	height:200px;
	margin-left: 300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}
 
img#img2{
	width: 220px;
	height:200px;
	margin-left: 300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img3{
	width: 195px;
	height:200px;
	margin-left: 300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img4{
	width: 250px;
	height:200px;
	margin-left: 300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img5{
	width: 550px;
	height:200px;
	margin-left: 300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img6{
	width: 400px;
	height:200px;
	margin-left: 300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img7{
	width: 200px;
	height:200px;
	margin-left: 300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img8{
	width: 250px;
	height:200px;
	margin-left: 300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img9{
	width: 300px;
	height:200px;
	margin-left: 300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img10{
	width: 400px;
	height:200px;
	margin-left: 300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img11{
	width: 400px;
	height:200px;
	margin-left: 300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img12{
	width: 400px;
	height:200px;
	margin-left: 300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img13{
	width: 175px;
	height:200px;
	margin-left: 300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

/* fim ferramentas */

/* criador */

article#pag_criador{
	border-radius:20px;
	margin-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	margin-left: 200px;
	margin-right: 200px;
	background-color: rgba(0,132,200,.7);
	box-shadow: 4px 4px 6px #c1c1c1;
}

article#pag_criador h1{
	color: #07547c;
	text-shadow: 2px 2px 6px white;
	padding: 10px;
	font-size: 20pt;
}

article#pag_criador h2{
	color: #07547c;
	text-shadow: 2px 2px 6px white;
	font-size: 18pt;
	margin-top: -10px;
	padding-left:20px;
}

article#pag_criador p{
	padding: 25px;
	color:white;
	text-align: justify;
	font-size:13pt;
	font-family: 'tahoma', sans-serif;
}

article#pag_criador img#c1{
	width: 300px;
	height: 300px;
	display: block;
	position: relative;
	border-radius: 20px;
	box-shadow: 4px 4px 6px #07547c;
	margin-bottom: 30px;
	margin-left: 100px;
	margin-top: 20px;
}

article#pag_criador img#c2{
	width: 300px;
	height: 300px;
	display: block;
	position: relative;
	border-radius: 20px;
	box-shadow: 4px 4px 6px #07547c;
	margin-top: -330px;
	margin-bottom: 30px;
	margin-left: 545px;
}

div#divisoria{
	border-right: 6px dotted #1d8ac3;
	margin-right: 470px;
}

/* fim criador */

/* Classes */

div.azul-escuro{
	background-color: rgba(0,104,158,.7);
	border-radius: 20px;
	color: white;
	box-shadow: 4px 4px 6px #5b5b5b;
}

div.azul-claro{
	background-color: rgba(0,132,200,.7);
	border-radius: 20px;
	color:white;
	box-shadow: 4px 4px 6px #5b5b5b;
}

section.mudapag button{
	background-color:rgba(38,133,201,.7); 
	color:white;
	font-size: 18pt;
	padding:5px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-top:20px;
	margin-left: 440px;
}

/* fim classes */

}

/* celular */

@media screen and (min-width: 360px) and (max-width: 1300px){

/* Mudança Geral */

* {
	margin: 0;
	padding: 0;
}

div#backbox p{
	position:absolute;
	display:block;
	margin-top:-500px;
	margin-left:40px;
	font-size:100pt;
	color:white;
	text-shadow: 8px 8px 6px #232323;
}

div#corpo{
	margin-bottom: 20px;
	display:block;
	background-color: white;
}

body{
	font-family: 'tahoma',sans-serif;
}

img{
	width: 100%;
	height: 100%;
	position:relative;
	padding:0px;
	margin:0px;
}

/* Fim Mudança Geral */

/* Menu */

nav#menu1 {
	position: absolute;
	z-index: 5;
}

nav#menu1 ul{
	padding: 5px;
	margin: 5px;
	display:block;
	margin-right:10px;
	position: fixed;
}

ul#menu li {
	margin-left: 10px;
	display: inline-block;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

nav#menu1 li{
	display: inline-block;
	object-position: center;
}

nav#menu1 ul li{
	display:inline;
}

nav#menu1 ul li a{
	padding: 5px;
	padding-left: 7px;
	padding-right: 7px;
	display: inline-block;
	color: white;
	font-size: 25pt;
	text-decoration: none;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: .5s;
}

nav#menu2 ul li a:hover {
	background-color: #b3d9ff;
	color: #1a8cff;
	border-bottom: 2px solid #0073e6;
}

nav#menu2 ul{
	display:inline;
	object-position: center;
}

/* Fundo com Efeito */

div#menu-fundo {
	background-color: transparent;
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 99;
	transition: .5s;
}

/* Fim Menu */

/* Paralax */

section.man {
	height: 780px;
	width: 100%;
}

/* Fim Paralax */

/* Index */

article#index{
	padding: 5px;
	margin-right: 20px;
	margin-left: 20px;
}

article#index h1{
	text-shadow: 2px 2px 8px black ;
	font-size: 20pt;
	text-align: left;
	margin-bottom: 10px;
}

article#index h2{
	color:white;
	text-shadow: 2px 2px 8px black ;
	font-size: 25pt;
	text-align: left;
}

article#index h3{
	font-size:10pt;
	text-align: center;
}

article#index h4{
	border-radius: 20px;
	margin-right: 340px;
	padding: 10px;
	box-shadow: 3px 5px 5px #c1c1c1;
	background-color: rgb(32,115,181);
	color:white;
	text-shadow: 2px 2px 8px #b9b9b9;
	font-size: 25pt;
	text-align: left;
}

article#index p{
	text-indent: 20pt;
	text-align: justify;
	font-size:13.5pt;
}

article#index a{
	text-decoration: none;
}

section#cima {
	display:block;
	width: 900px;
	float: top;
	padding: 10px;
	border-bottom:1px solid black;
	margin-bottom: 30px;
}

aside#esquerda {
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(9,117,179,.5);
	box-shadow: 3px 5px 5px #c1c1c1;
	width: 600px;
	float: left;
	padding-bottom: 20px; 
}

img#mudalogo {
	display: block;
	margin-top: 120px;
	margin-left: 690px;
	box-shadow: 6px 6px 8px #bababa;
	border-bottom-right-radius: 80px;
	border-top-left-radius: 40px;
	width: 200px;
	height: 200px;
}

p#textologo{
	display:block;
	margin-top: 10px;
	text-align: center;
	margin-left: 680px;
}

img#mudasite{
	position:relative;
	margin-left:40px; 
	margin-top:40px;
	width: 200px;
	height: 200px;
	border-radius:100px;
	box-shadow: 6px 6px 8px #bababa;
}

p#textobackbox{
	text-align: center;
	margin-top: 30px;
	margin-left: 0px;
	margin-bottom: 10px;
}

img#mudapag{
	position: relative;
	display:block;
	margin-top: -295px;
	margin-left:670px;
	width: 200px;
	height: 200px;
	border-radius:100px;
	box-shadow: 6px 6px 8px #bababa;
}

p#textodown{
	display:block;
	margin-top: 30px; 
	text-align: center;
	margin-left: 640px;
	margin-bottom: 40px;
}

img#mudapdf{
	position: relative;
	display:block;
	margin-top: -380px;
	margin-left:370px;
	width: 200px;
	height: 200px;
	border-radius:100px;
	box-shadow: 6px 6px 8px #bababa;
}

p#textopdf{
	display:block;
	padding-bottom: 50px;
	margin-top: 30px; 
	text-align: center;
	margin-left: 325px;
	margin-bottom: 10px;
}

div#aplic{
	display:block;
	padding: 20px;
	margin-top: 180px;
	border-top:1px solid black;
}

div#aplic_corpo{
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #b9b9b9;
	background-color: rgba(28,127,163,.7);
}

img#aplica{
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 90px;
	width: 700px;
	height: 500px;
	border-radius: 10px;
	box-shadow: 6px 6px 8px #0d5068;
}

div#aplic_corpo p{
	padding: 20px;
	font-size: 15pt;
	color:white;
}

div#aplic_corpo h1{
	display: block;
	text-align: center;
	color:white;
	text-shadow: 2px 2px 6px #c1c1c1;
}

div#aplic_corpo h2{
	padding-top: 20px;
	border-top:5px dotted #2988b9;
	font-size: 20pt;
	color:white;
}

/* Fim Index */

/* Rodapé */

@keyframes exemplo { 
0% {background-color: red;}/*a animação começa vermelho*/ 
50% {background-color: yellow;}/*a animação chega na metade em amarela*/  
100% {background-color: blue}/*a animação termina vermelha novamente*/ } 

footer#rodape{ 
width: 1000px;/*largura do elemento*/ 
height: 700px;/*altura do elemento*/  
background-color: red;/*cor do inicial do elemento*/ 
animation-name: exemplo;/*aqui vem o nome da animação*/ 
animation-duration: 4s;/*tempo da duração do inicio ao fim*/ 
animation-iteration-count:infinite; 
}


footer#rodape{
	padding:10px;
	border-top: 1px solid black;
	clear: both;
}

footer#rodape p{
	text-align: center;	
	color:#646464;
	font-family: 'tahoma', sans-serif;
}

footer#rodape a{
	text-decoration: none;
	color:#646464;
}

footer#rodape img{
	width: 40px;
	height:40px;
}

/* Fim Rodapé */

/* Entrevista */

article#entrevista{
	padding: 5px;
	margin-right: 20px;
	margin-left: 20px;
}

article#entrevista h1{
	background-color: rgba(53,53,53,.5);
	color:white;
	font-size: 20pt;
	padding: 5px;
	display:block;
	text-align: center;
	box-shadow: 5px 5px 8px #c1c1c1;
	margin-bottom: 15px;
	border-radius: 10px;
	text-shadow: 2px 2px 6px #c1c1c1;
}

article#entrevista h2{
	font-size: 18pt;
	padding: 10px;
	text-align: left;
}

article#entrevista p{
	padding: 20px;
	text-indent: 20pt;
	text-align: justify;
	font-size:13.5pt;
}

article#entrevista a{
  	color: black;
  	text-decoration: none;
}

div#audio{
	display:block;
	padding-bottom: 15px;
	margin-left: 320px;
}


/* Fim Entrevista */

/* Extra */

article#extra{
	padding: 5px;
	margin-right: 20px;
	margin-left: 20px;
}

article#extra h1{
	background-color: rgba(53,53,53,.5);
	font-size: 20pt;
	color:white;
	padding: 5px;
	display:block;
	text-align: center;
	box-shadow: 5px 5px 8px #c1c1c1;
	margin-bottom: 15px;
	border-radius: 10px;
	text-shadow: 2px 2px 6px #c1c1c1;
}

article#extra h2{
 	font-size: 18pt;
  	text-align: left;
  	padding-left: 10px;
  	padding-top: 10px;
  	text-shadow: 2px 2px 6px #c1c1c1;
}

article#extra h3{
	 font-size:10pt;
 	 text-align: center;
}

article#extra p{
	padding: 20px;
	text-indent: 20pt;
 	text-align: justify;
  	font-size:13.5pt;
}

/* Fim Extra */

/* Versões */

section#versoes{
	display:block;
	margin-top:10px;
	background-color: rgba(6,75,135,.7);
	padding:10px;
	margin-left:20px;
	margin-bottom: 25px;
	margin-right:20px;
	box-shadow: 5px 5px 8px rgba(6,75,208,.6);
	border-radius: 10px;
}

section#versoes h1{
	padding: 20px;
	text-align: center;
	text-shadow: 4px 4px 5px #c1c1c1;
	color: white;
}

section#versoes h3{
	color: white;
	font-family: 'tahoma', sans-serif;
	padding:10px;
	font-size: 13.5pt;
	border-top:4px dotted rgba(5,58,102,.7);
}

section#versoes p{
	padding: 20px;
	color: white;
	font-family: 'tahoma', sans-serif;
	text-indent: 10pt;
	text-align: justify;
	font-size:13pt;
	margin-bottom: 10px;
}

/* Fim Versões */

/* agradecimntos */

div#imagem1{
	display:inline-block;
	padding: 20px;
}

div#imagem2{
	display:inline-block;
	padding: 20px;
}

div#imagem3{
	display:inline-block;
	padding: 20px;
}

div#imagem4{
	display:inline-block;
	padding: 20px;
}

div#agra{
	margin-top: 20px;
	margin-bottom: 20px;
	display:inline-block;
	margin-left:187px;
}

img#imgeral{
	box-shadow: 5px 5px 5px #b9b9b9;
	border-radius: 60px;
	width: 600px;
	height: 600px;
	margin-bottom: 30px;
}

p#redesocial{
	border-radius: 80px;
	padding: 10px;
	font-size: 40pt;
	background-color: rgba(176,176,176,.5);
}

div#agra p{
	color:white;
	text-shadow: 2px 2px 8px black;
}

p#redesocial img{
	border-radius:90px;
	box-shadow: 5px 5px 5px #b9b9b9;
	display: inline-block;
	width: 150px;
	height: 150px;
}

div#agradecimento{
	display:block;
	margin-top:15px;
	margin-right:20px; 
	margin-left:20px;
	color:white;
	background-color: rgba(67,67,67,.6);
	box-shadow: 5px 5px 8px rgba(185,185,185,.7);
	padding: 20px;
	border-radius: 40px;
	text-align: justify;
	text-indent: 20pt;
}

div#agradecimento h1{
	text-shadow: 2px 2px 8px #b9b9b9;
	text-align: center;
}

p#redesocial{
	box-shadow: 5px 5px 5px #b9b9b9;
	text-align: center;	
	color:#646464;
	font-family: 'tahoma', sans-serif;
}

p#redesocial a{
	text-decoration: none;
	color:#646464;
}

/* fim agradecimentos */

/* ferramentas */

div#ferramentas{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: rgba(41,132,165,.7);
	color:#e0e0e0;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 3px 5px 5px #a7a7a7;
}

div#ferramentas h1{
	color:white;
	text-shadow: 2px 2px 6px black;
	text-align: center;
	margin-bottom: 20px;
}

div#ferramentas p{
	padding-bottom: 10px;
	text-indent: 20pt;
	text-align: justify;
	font-size:13.5pt;
}

div#ferramentas h5{
	color: white;
	padding: 20px;
	text-indent: 25pt;
	font-size: 15pt;
	border-top:5px dotted #2c7ea8;
}

img#img1{
	width: 395px;
	height:400px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}
 
img#img2{
	width: 420px;
	height:400px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img3{
	width: 395px;
	height:400px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img4{
	width: 450px;
	height:400px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img5{
	width: 850px;
	height:300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img6{
	width: 800px;
	height:300px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img7{
	width: 400px;
	height:400px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img8{
	width: 450px;
	height:400px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img9{
	width: 500px;
	height:400px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img10{
	width: 700px;
	height:400px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img11{
	width: 700px;
	height:400px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img12{
	width: 700px;
	height:400px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

img#img13{
	width: 375px;
	height:400px;
	border-radius: 20px;
	margin-bottom: 20px;
	box-shadow: 5px 5px 5px #0d5068;
}

/* fim ferramentas */

/* criador */

article#pag_criador{
	border-radius:30px;
	margin-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgba(0,132,200,.7);
	box-shadow: 4px 4px 6px #c1c1c1;
}

article#pag_criador h1{
	color: #07547c;
	text-shadow: 2px 2px 6px white;
	padding: 15px;
	font-size: 20pt;
}

article#pag_criador h2{
	color: #07547c;
	text-shadow: 2px 2px 6px white;
	font-size: 18pt;
	margin-top: -10px;
	padding-left:20px;
}

article#pag_criador p{
	padding: 30px;
	color:white;
	text-align: justify;
	font-size:13pt;
	font-family: 'tahoma', sans-serif;
}

article#pag_criador img#c1{
	width: 300px;
	height: 300px;
	display: block;
	position: relative;
	border-radius: 20px;
	box-shadow: 4px 4px 6px #07547c;
	margin-bottom: 30px;
	margin-left: 100px;
	margin-top: 20px;
}

article#pag_criador img#c2{
	width: 300px;
	height: 300px;
	display: block;
	position: relative;
	border-radius: 20px;
	box-shadow: 4px 4px 6px #07547c;
	margin-top: -330px;
	margin-bottom: 30px;
	margin-left: 545px;
}

div#divisoria{
	border-right: 6px dotted #1d8ac3;
	margin-right: 470px;
}

/* fim criador */

/* Classes */

div.azul-escuro{
	background-color: rgba(0,104,158,.7);
	border-radius: 20px;
	color: white;
	box-shadow: 4px 4px 6px #5b5b5b;
}

div.azul-claro{
	background-color: rgba(0,132,200,.7);
	border-radius: 20px;
	color:white;
	box-shadow: 4px 4px 6px #5b5b5b;
}

section.mudapag button{
	background-color:rgba(38,133,201,.7); 
	color:white;
	font-size: 30pt;
	padding:5px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	margin-top:20px;
	margin-left: 430px;
	margin-bottom: 10px;
}

/* fim classes */

}

