
/* Parallax */

.parallax {
	height: 100vh;
	background-image: url('../assets/_imagens/parallax.svg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.conteudo {
	position: absolute;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
  	top: 50vh;
	text-align: center;
}

/* cor */

.bg-clay{
	background-color: #ccc;
}

/* Ajuste img agradecimentos */

.perfil{
	height: 15rem;
}